:root {
    --branco-main: #FFFFFF;
    --cinza-sec: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #3c92fa;
    --cor-de-fundo: #000000;
    --fonte-main: 'Lato';
    --fonte-sec: 'Niconne';
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: #550808;
    padding: 4em 1em;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    font-family: var(--fonte-sec);
    font-weight: 400;
}

nav {
    position: absolute;
    top: 1.5em;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ffd000;
    text-decoration: underline;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-main);
    font-family: var(--fonte-main);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}