:root {
    --branco-main: #FFFFFF;
    --cinza-sec: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #3c92fa;
    --cor-de-fundo: #00030C;
    --fonte-main: 'Lato'
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-main);
    font-family: var(--fonte-main);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}